.footnote-ref {
  vertical-align: super;
  font-size: 70%;
}

figcaption, figcaption p {
  font-style: italic;
  padding-top: 0px;
  margin-top: 0px;
}

.post {
  margin-top: 50px;
  margin-bottom: 80px;
}

.post-date {
  font-style: italic;
}
