.footnote-ref {
  vertical-align: super;
  font-size: 70%;
}

figcaption, figcaption p {
  font-style: italic;
  padding-top: 0px;
  margin-top: 0px;
}

.post {
  margin-top: 50px;
  margin-bottom: 80px;
}

.post-date {
  font-style: italic;
}

h4 {
  font-weight: bold;
}

h4 + p {
  margin-top: 0px;
}

.footnotes > ol > li > p {
  margin-bottom: 0.8em;
}
