<!DOCTYPE html>
<html lang="en-us">
<link rel="stylesheet" href="/assets/static/css/main.css">
  <head>
    <title>
         <%= title %>
    </title>
  </head>
  <body>

<section id=content>
  <h1> <%= title %> </h1>

  
    <div id=sub-header>
      <%= date %>
    </div>
    <div class="entry-content">
<%= content %>
    </div>
  </body>
</html>
