<!DOCTYPE html>
<html lang="en-us">
  <head>
  <link rel="stylesheet" href="/assets/static/css/main.css">
  <link rel="stylesheet" href="/assets/static/css/highlight.css">
    <title>
         <%= item.title %>
    </title>
  </head>
  <body>
<section id="nav">
<h1><%= siteDetails.title %></h1>
<div class="nav-links">
<% _.forEach(_.get(siteDetails, 'formats.html.nav.links'), function({name, target}) { 
    %><div class="nav-link-ctr"><a class="nav-link" href="<%- target %>"><%- name  %></a></div><% 
}); %>
</div>
</section>
<section>
<article id="content">
  <h1><%= item.title %> </h1>
    <p class="subtitle">
      <%= item.date %>
    </p>
<%= item.content %>
</article>
</section>
  </body>
</html>
