<!DOCTYPE html>
<html lang="en-us">
<link rel="stylesheet" href="/assets/static/css/main.css">
<link rel="stylesheet" href="/assets/static/css/highlight.css">
  <head>
    <title>
         <%= title %>
    </title>
  </head>
  <body>
<article id="content">
  <h1><%= title %> </h1>
    <p class="subtitle">
    </p>
<section>
<%= content %>
<%= JSON.stringify(meta) %>
<ul>
<% _.forEach(meta.trails.members, function(member) { %><li><a href="<%- member.memberUri %>"><%- member.memberMetadata.title %></li><% }); %>
</ul>
</section>
</article>
  </body>
</html>
