<!DOCTYPE html>
<html lang="en-us">
<link rel="stylesheet" href="/assets/static/css/main.css">
<link rel="stylesheet" href="/assets/static/css/highlight.css">
  <head>
    <title>
         <%= title %>
    </title>
  </head>
  <body>
<article id="content">
  <h1><%= title %> </h1>
    <p class="subtitle">
    </p>
<section>
<% _.forEach(meta.trails.members, function(member) { %><div class="trail-member"><h3><a href="<%- member.memberUri %>"><%- member.memberMetadata.title %></a></h3><p><%- member.memberMetadata.author %></p><p><%- member.memberMetadata.date %></p></div><% }); %>
</section>
</article>
  </body>
</html>
