{{ partial "header.html" . }}
<section id="stream">
</section>
<script>

function reduceObject(collection, f, initial) {
  let acc = initial
  if (!collection) {
    return acc
  }
  for (const prop in collection) {
    const currentVal = collection[prop]
    acc = f(acc, currentVal, prop)
  }
  return acc
}

function request({method, url, headers, body, queryParams, responseType}, callback) {
  const queryString = reduceObject(queryParams, (acc, v, k) => {
    if (v) {
      const uriEncoded = encodeURIComponent(typeof v === 'string' ? v : JSON.stringify(v))
      if (acc) {
        return acc + `&${k}=${uriEncoded}`
      } else {
        return acc + `?${k}=${uriEncoded}`
      }
    }
    return acc
  },
  '')
  const req = {
    method: method || 'GET', 
    headers,
    body: body && typeof body !== 'string' ? JSON.stringify(body) : body
  }
  console.log(url + queryString)
  fetch(url + queryString, req).then((response) => {
    if (!response.ok) {
      console.log(response)
      callback(response)
    } else if (responseType && responseType === 'blob') {
      response.blob().then((data) => {
        callback(null, response, data)
      })
    } else {
      response.json().then((data) => {
        callback(null, response, data)
      })
    }
  }).catch((err) => {
    callback(err)
  })
}

function imageElementFromBlob(b) {
  const imgUrl = window.URL.createObjectURL(b);
  const img = document.createElement('img');
  img.src = imgUrl;
  return img
}

function getStreamItems({Limit, startItem, filterExpression, expressionAttributeValues}, callback) {
  const streamUrl = 'https://web.api.raphaelluckom.com'
  request({
    method: 'GET',
    headers: {'Content-Type':  'application/json' },
    url: streamUrl,
    queryParams: {Limit, startItem, FilterExpression: filterExpression,ExpressionAttributeValues: expressionAttributeValues}
  }, callback)
}

function mapObject(o, f) {
  const acc = []
  for (k in o) {
    acc.push(f(o[k], k))
  }
  return acc
}

function getDisplayableStreamItems({Limit}, callback) {
  const results = []
  const typeAttributeValues = {
    image: 'image'
  }
  const filterExpression = `itemType IN (${mapObject(typeAttributeValues, (v, k) => ':' + k).join(', ')})`
  const expressionAttributeValues = reduceObject(typeAttributeValues, (acc, v, k) => {
    acc[':' + k] = {'S': v}
    return acc
  }, {})

  function cb(e, r, b) {
    if (e) {
      console.log(e)
      return callback(e)
    }
    console.log(b)
    for (const i of b.Items) {
      results.push(i)
    }
    if (b.LastEvaluatedKey) {
      getStreamItems({Limit, startItem: b.LastEvaluatedKey, filterExpression, expressionAttributeValues }, cb)
    } else {
      return callback(null, results)
    }
  }
  getStreamItems( {Limit, filterExpression, expressionAttributeValues}, cb)
}

getDisplayableStreamItems({}, (e, r) => {
  console.log(e)
  console.log(r)
  if (r.length > 0 && r[0].mediaId) {
    const imgUrl = `https:\/\/www.media.raphaelluckom.com/images/${r[0].mediaId}-1000.JPG`
    setLatestImage(imgUrl)
  }
})

let currentImage = null
function setLatestImage(url) {
  request({
    url,
    responseType: 'blob'
  }, (e, r, b) => {
    if (e) {
      console.log(e)
      return
    }
    const stream = document.querySelector('#stream');
    if (currentImage) {
      stream.removeChild(currentImage)
    }
    currentImage = imageElementFromBlob(b)
    const v = stream.appendChild(currentImage);
    console.log(v)
  })
}

function latestImageExample() {
setLatestImage('https://www.test.raphaelluckom.com/img/singerbelt/original-belt.jpeg')
}

function websocketExample() {
  const exampleSocket = new WebSocket("wss://api.raphaelluckom.com")
    exampleSocket.onopen = function (event) {
      console.log(event) 
        exampleSocket.send(JSON.stringify({action: "hello", note: "ready for data!"}))
    };
  exampleSocket.onmessage = function (event) {
    console.log(event) 
      setLatestImage(JSON.parse(event.data).imgUrl)
  };
}

</script>
{{ partial "footer.html" . }}
